/*=====================================================
=                      Media Queries                 =
=====================================================*/
#mobileHeader {display: none;}
@media only screen and (max-width : 1200px) {
  #mobileHeader {display: none;}
}
@media only screen and (max-width : 979px) {
    #header,
    #search {display: none;}
    #mobileHeader {display: block;}
    #breadcrumbs > .container > .row {
      padding: 0px 15px;
    }
    #content > .container > .row > .col-md-8 {
      padding: 0px 15px;
    }
    #content > .container > .row > .col-md-4{
      padding: 0px 15px;
    }
}
@media only screen and (max-width : 767px) {
    #header,
    #search {display: none;}
    #mobileHeader {display: block;}

    #content .container.myportal.index {padding-top: 20px;}
    .myportal.index .header ul.case-menu li {width: 100%;margin-bottom: 10px;}
    .myportal.index .header ul.case-menu li.new a.button {display: inline-block; width: 100%;}

    #PreCreate .modal-header h2 {font-size: 22px;}
    #PreCreate .modal-header p {font-size: 14px;}
    #PreCreate .modal-body ul.results li {margin-bottom: 14px; font-size: 18px;}
    #PreCreate .modal-body ul.results li h4{font-size: 18px;}
    #PreCreate .modal-body ul.results li p{font-size: 14px;}

    #PreCreate .modal-footer .btn.btn-submit{font-size: 14px;padding: 7px 16px}

    .myportal.index .body table tbody tr td.a-casesubject {padding: 0px 10px;}
}
@media only screen and (max-width : 480px) {
    #header,
    #search {display: none;}
    #sidebar {margin-top: 50px;}
    #mobileHeader {display: block;}
    #mobileHeader select {padding: 10px 15px;}
    #content .gravatar {display: none;}
    #mobile-menu .gravatar {display: block;}
    #content > .container > .row {
      margin: 0px -15px !important;
    }

    #content > .container > .row > .col-md-8 {
      padding: 0px 15px;
    }
    #content > .container > .row > .col-md-4{
      padding: 0px 15px;
    }
    #content .container.index .desk-topic ul,
    #content .container.index .desk-qna ul{
      list-style: none;
      padding: 0px;
    }
    #content .container.index .desk-topic ul li,
    #content .container.index .desk-qna ul li {
      width: 100%;
      margin-bottom: 0px;
      padding: 15px;
      border-bottom: 1px solid #efefef;
    }
    #content .container.index .desk-topic ul li a,
    #content .container.index .desk-qna ul li a{
      display: inline-block;
      width: 100%;
    }
    #content .container.index a.desk-topic-view-all {
      float: right;
    }
    div.options ul li,
    .alternatelogins > div {
      width: 100%;
      margin: 5px auto;
    }
    .new_customer_contact_email input {max-width: 70%;}
    .new_customer_contact_email button {width: 25%;margin:0px;float: right;}
    .myportal.case .status .stats {padding: 0px 15px;}
    .myportal.case .status button, .myportal.case .status input[type="submit"] {width: 100%; display: inline-block; margin-top: 15px;}
}
