
        <!--
        `7MM"""YMM  `7MMM.     ,MMF'      db      `7MMF'`7MMF'
          MM    `7    MMMb    dPMM       ;MM:       MM    MM
          MM   d      M YM   ,M MM      ,V^MM.      MM    MM
          MMmmMM      M  Mb  M' MM     ,M  `MM      MM    MM
          MM   Y  ,   M  YM.P'  MM     AbmmmqMA     MM    MM      ,
          MM     ,M   M  `YM'   MM    A'     VML    MM    MM     ,M
        .JMMmmmmMMM .JML. `'  .JMML..AMA.   .AMMA..JMML..JMMmmmmMMM
                        BEGIN EMAIL SUBMITTED
                                                               -->
        <div id="content">
          <div class="container email">
            <div class="header row">
              <div class="columns medium-12">
                <h2>{{system.snippets.email_us}}</h2>
                <h3>{{system.snippets.email_success}}</h3>
              </div>
            </div>
          </div>
        </div>
