
  <div id="content">
    <div class="container feedback">
      <div class="row">
              <h3>{{desk.system.snippets.customer_feedback_completed}}</h3>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{desk_javascript_host}}portal/desk.portal.body.customer_feedback.js"></script>
